* {
	color:black;
	padding:4px;
}
#body{


background: #c2e59c; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.imgh{
	max-width: 250px;
	height:auto;
}
.hold{
	box-shadow: 4px 4px 2px #696969;
	background-color: #fdfbf2;
	width:auto;
	height:auto;
	padding:10px;
	border-radius:5px;
	border: 1px solid black;
}
.cardata{
	width:100%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.btn-hold{
	vertical-align: top;
	width:auto;
	display:inline-block;
}
div.cards{
	width:50%;
	display:inline-block;
	vertical-align: top;
}
.span{
	display: inline-block;
	vertical-align: top;
}
.spanm{
	display: inline-block;
	vertical-align: top;
	width:auto;
}
#comms{
	width:auto;
	display:block;
	width:100%;
}
.img-holder{
	width:auto !important;
	display: inline-block;
}
.titleCar{
	font-weight: bold;
	font-size: 25px;
	display:inline-block;
	width:75%;
	vertical-align: top;
}

.intro{
	font-size:20px;
	color:red;
	font-weight: bold;
}

form#empForm, form#editForm {
padding: 0 35px 15px;
}





